.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #C1FAFF;
    min-height: 100vh;
};

/* Tablets */
@media screen and (max-width: 992px) {}


/* Large smartphones */
@media screen and (max-width: 768px) {}


/* Small smartphones*/
@media screen and (max-width: 576px) {}