.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #A1BBCE;
    margin: 0;
}

/* Tablets */
@media screen and (max-width: 992px) {}


/* Large smartphones */
@media screen and (max-width: 768px) {}


/* Small smartphones*/
@media screen and (max-width: 576px) {}